@charset "UTF-8";
/* Mapa para colores */
/* Mapa para bordes */
/* Mixin para animación de la navegación */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: auto;
  background-color: white; }

/* Estilo del header */
.headerColor {
  background-color: #9999ff;
  border-bottom: 1px solid black; }
  .headerColor .tituloPrincipal {
    margin: 0; }
  .headerColor .nav-item {
    padding: 8px; }

/* Estilo del main */
.contenedor {
  margin: 10px;
  padding: 10px;
  background: radial-gradient(circle, #ebebeb 0%, rgba(221, 221, 221, 0.0984769) 70%, #b6b6b6 100%), url(../img/backgroundPrincipalGrande.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  text-align: center;
  height: auto; }
  .contenedor .contenedorSeccion {
    background-color: #9999ff;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* Ubicacion */
    /* Contacto */ }
    .contenedor .contenedorSeccion .contenidoSeccion {
      background-color: #99ea93;
      border: 1px solid black;
      border-radius: 8px;
      padding: 20px;
      margin-top: 10px;
      margin-bottom: 10px; }
    .contenedor .contenedorSeccion .adjuntoTarjeta {
      width: 100%;
      height: 100%; }
    .contenedor .contenedorSeccion .mapa {
      width: 100%;
      height: 40vh;
      /*overflow: hidden;*/ }
    .contenedor .contenedorSeccion .formulario {
      margin-bottom: 10px; }

.contenedorCarrousel {
  width: 320px;
  margin: auto;
  perspective: 1000px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 300px; }
  .contenedorCarrousel .contenidoCarrousel {
    width: 100%;
    position: absolute;
    animation: rotar 20s infinite linear;
    transform-style: preserve-3d; }
    .contenedorCarrousel .contenidoCarrousel:hover {
      animation-play-state: paused;
      cursor: pointer; }
    .contenedorCarrousel .contenidoCarrousel figure {
      width: 100%;
      height: 160px;
      overflow: hidden;
      position: absolute;
      box-shadow: 0px 0px 20px 0px black;
      transition: all 300ms; }
      .contenedorCarrousel .contenidoCarrousel figure:hover {
        box-shadow: 0px 0px 0px 0px black;
        transition: all 300ms; }
      .contenedorCarrousel .contenidoCarrousel figure img {
        width: 100%;
        transition: all 300ms; }
        .contenedorCarrousel .contenidoCarrousel figure img:hover {
          transform: scale(1.2);
          transition: all 300ms; }
    .contenedorCarrousel .contenidoCarrousel figure:nth-child(1) {
      transform: rotateY(0deg) translateZ(300px); }
    .contenedorCarrousel .contenidoCarrousel figure:nth-child(2) {
      transform: rotateY(60deg) translateZ(300px); }
    .contenedorCarrousel .contenidoCarrousel figure:nth-child(3) {
      transform: rotateY(120deg) translateZ(300px); }
    .contenedorCarrousel .contenidoCarrousel figure:nth-child(4) {
      transform: rotateY(180deg) translateZ(300px); }
    .contenedorCarrousel .contenidoCarrousel figure:nth-child(5) {
      transform: rotateY(240deg) translateZ(300px); }
    .contenedorCarrousel .contenidoCarrousel figure:nth-child(6) {
      transform: rotateY(300deg) translateZ(300px); }
    .contenedorCarrousel .contenidoCarrousel figure:nth-child(7) {
      transform: rotateY(360deg) translateZ(300px); }

@keyframes rotar {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

/* Estilo del footer */
.footerColor {
  background-color: #7a7a7a;
  border-top: 1px solid black; }
  .footerColor .contenedorFooter {
    padding: 10px; }
    .footerColor .contenedorFooter .articuloFooter {
      height: 100%;
      border: 1px solid black;
      border-radius: 8px;
      padding: 10px; }

/* Animaciones */
header .nav-item a:hover {
  transform: scale(1.2);
  background-color: #99ea93;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

header .nav-item a:focus {
  transform: scale(1.2);
  background-color: #99ea93;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

header img:hover {
  transform: scale(1.2);
  overflow: hidden;
  align-self: center;
  overflow: hidden; }

header img:focus {
  transform: scale(1.2);
  overflow: hidden;
  align-self: center;
  overflow: hidden; }

footer img:hover {
  transform: scale(1.2);
  overflow: hidden;
  align-self: center;
  overflow: hidden; }

footer img:focus {
  transform: scale(1.2);
  overflow: hidden;
  align-self: center;
  overflow: hidden; }

/* Resaltado de todas las imagenes del documento */
.contenedor .contenedorSeccion .adjuntoTarjeta:hover {
  border: 1px solid white; }

.contenedor .contenedorSeccion .adjuntoTarjeta:focus {
  border: 1px solid white; }

/* Cuando es un celular */
@media screen and (max-width: 768px) {
  .col-8 {
    width: 100%; }
  .col-6 {
    width: 100%; }
  .col-4 {
    width: 100%; }
  .col-3 {
    width: 100%; }
  .articuloFooter {
    margin-top: 10px;
    margin-bottom: 10px; } }
