*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Times New Roman', Times, sans-serif;*/
}

body{
    height: auto;
    background-color: black;
}

/* Estilo del header */
.headerColor{
    background-color: rgb(153, 153, 255);
    border-bottom: 1px solid black;
}
.nav-item{
    padding: 8px;
}

/* Estilo del main */
.contenedor{
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    height: auto;
}
.contenedorSeccion{
    background-color: rgb(153, 153, 255);
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
}

/* Ubicacion */
.mapa{
    width: 100%;
    /*overflow: hidden;*/
}

/* Contacto */
.formulario{
    margin-bottom: 10px;
}

/* Estilo del footer */
.footerColor{
    background-color: rgb(97, 97, 97);
}
.contenedorFooter{
    padding: 10px;
}
.articuloFooter{
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
}

/* Animaciones */

.nav-item:hover{
    transform: scale(1.2);
    background-color: rgb(165, 255, 153);
    border: 1px solid black;
    border-radius: 8px;

}
.nav-item:hover{
    transform: scale(1.2);
    background-color: rgb(165, 255, 153);
    border: 1px solid black;
    border-radius: 8px;
}
.nav-item:hover{
    transform: scale(1.2);
    background-color: rgb(165, 255, 153);
    border: 1px solid black;
    border-radius: 8px;
}

img:hover{
    transform: scale(1.2);
    z-index: 10;
    overflow:hidden;
    align-self: center;
}
img:click{
    transform: scale(1.5);
    z-index: 10;
    overflow:hidden;
    align-self: center;
}
img:focus{
    transform: scale(1.5);
    z-index: 10;
    overflow:hidden;
    align-self: center;
}

/* Cuando es un celular */
@media screen and (max-width: 768px) {
    .col-4{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .col-3{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

  /* Box modeling del index correspondiente a la primera pre-entrega, no corregir en segunda pre-entrega, en la misma se trabajaron las páginas "colaborar" y "contacto" */
  .contenedor__inicio{
    width: 100%;
    padding: 10px;
}
.contenedor__inicio__carousel{
    padding-bottom: 20px;
}
.contenedor__inicio__carousel__imagenes{
    width: 80%;
}
.contenedor__inicio__nosotros{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60%;
    display: inline-block;
}
.contenedor__inicio__nosotros__separacion{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(153, 153, 255);
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
}
.contenedor__inicio__nosotros__separacion__descripcion{
    display: inline-block;
    width: 49%;
}
.contenedor__inicio__nosotros__separacion__imagen{
    display: inline-block;
    width: 49%;
}
.contenedor__inicio__nosotros__separacion__estadisticas{
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    width: 30%;
}
.contenedor__inicio__convocatorias{
    padding: 20px;
    margin: 5px;
    width: 35%;
    display: inline-block;
    background-color: rgb(165, 255, 153);
    border: 1px solid black;
    border-radius: 8px;
}
.contenedor__inicio__convocatorias__titulo{
    margin-bottom: 30px;
}
.contenedor__inicio__convocatorias__articulo{
    margin: 10px;
}
.contenedor__inicio__convocatorias__articulo__texto{
    margin-bottom: 10px;
    margin-top: 30px;
}