/* Cuando es un celular */
@media screen and (max-width: 768px) {
    .col-8{
        width: 100%;
    }
    .col-6{
        width: 100%;
    }
    .col-4{
        width: 100%;
    }
    .col-3{
        width: 100%;
    }
    .articuloFooter{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}