/* Mixin para animación de la navegación */
@mixin animacionNav() {
    transform: scale(1.2);
    background-color: map-get($colores, secundario);
    border: map-get($bordes, negro);
    border-radius: $radio;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@mixin animacionImgZoom() {
    transform: scale(1.2);
    overflow:hidden;
    align-self: center;
    overflow: hidden;
}